:root {
  /* Dimensions */
  --ms-nav-height: 95px;
  --ms-sidebar-width: 70px;
  --ms-header-height: 250px;
  /* Colors */
  --ms-nav-bg-color: #f8f9fa;
  --ms-sidebar-bg-color: #051e34;
  --ms-header-bg-color: #1b72e8;
  --ms-search-bg-color: rgba(128, 128, 128, 0.2);
  --ms-bell-color: #ff8f00;
  --ms-header-tag-color: #165bba;
}

@media screen and (min-width: 768px) {
  :root {
    --ms-header-height: 150px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --ms-sidebar-width: 120px;
    --ms-header-height: 145px;
  }
}

/* RESET */

img {
  max-width: 100%;
}

/* VIEWPORT SETTINGS */

.wrapper {
  width: 100%;
  height: 100vh;
}

/* COMMON */

body {
  font-family: "Fredoka", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Nav */

nav {
  height: var(--ms-nav-height);
  background-color: var(--ms-nav-bg-color);
}

.nav-container {
  width: 100%;
  height: 80%;
  background-color: white;
}

.nav-container .container-fluid {
  height: 100%;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.search {
  width: 400px;
  background-color: var(--ms-search-bg-color);
}

.search:focus,
input:focus {
  outline: none;
}

.search::placeholder {
  font-weight: 400;
}

.fa-bell {
    color: var(--ms-bell-color);
}

/* Sidebar */

.sidebar {
  width: var(--ms-sidebar-width);
  height: 100%;
  background-color: var(--ms-sidebar-bg-color);
}

/* MAIN */

main {
  width: 100%;
  height: calc(100% - var(--ms-nav-height));
}

.main-wrapper {
  height: 100%;
}

.main-content {
  width: calc(100% - var(--ms-sidebar-width));
  background-color: green;
  overflow-y: auto;
}

/* MAIN-header */

.main-content header {
  background-color: var(--ms-header-bg-color);
  height: var(--ms-header-height);
}

.fa-plus {
    padding: 10px 15px;
}

.header-tag {
    font-size: 15px;
    background-color: var(--ms-header-tag-color);
    padding: 3px 8px;
    border-radius: 100px;
}

.header-tag.plus {
    padding: 5px 9px;
}

/* Sidebar */

.sidebar .admin{
    bottom: -550px;
}